.jumbotron {
    height: 200px;
    /* background-color: rgba(38, 214, 214, 0.349); */
    text-align: center;
}

#title {
    font-family: 'Fascinate Inline', cursive;
    font-size: 60px;
}

#message, p {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}
